@{
    ViewBag.Title = "Home Page";
}
@section style{
    <link href="~/Content/pages/homeIndex.css" rel="stylesheet" />
}

<div>页面加载中...</div>
@section scripts{
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=5m4FdzoUc0Yt1gsYRaDCkjQiymea2koK"></script>
    <script type="text/javascript" src="http://developer.baidu.com/map/custom/stylelist.js"></script>
    <script src="https://cdn.bootcss.com/echarts/3.7.2/echarts.min.js"></script>
    <script src="~/Scripts/map/bMap.js?v=@Guid.NewGuid()"></script>
    <script src="~/Scripts/sources/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/sources/daterangepicker.js"></script>
    <script type="text/babel" src="~/Scripts/React/Devices/action.js"></script>
    <script type="text/babel" src="~/Scripts/React/Components/HeaderTop.js"></script>
    <script type="text/babel" src="~/Scripts/React/Components/Card.js"></script>
    <script type="text/babel" src="~/Scripts/React/Components/Table.js"></script>
    <script type="text/babel" src="~/Scripts/React/Components/JsTree.js"></script>
    <script type="text/babel" src="~/Scripts/React/Components/Dd.js"></script>
    <script type="text/babel" src="~/Scripts/React/Components/DdItem.js"></script>
    <script type="text/babel" src="~/Scripts/React/Components/Form.js"></script>
    <script type="text/babel" src="~/Scripts/React/Components/FormItem.js"></script>
    <script type="text/babel" src="~/Scripts/React/Components/DatePicker.js"></script>
    <script type="text/babel" src="~/Scripts/React/Components/EchartsLine.js"></script>

    <script type="text/babel" src="~/Scripts/React/Devices/ToolBar.js"></script>
    <script type="text/babel" src="~/Scripts/React/Devices/DeviceCard.js"></script>
    <script type="text/babel" src="~/Scripts/React/Components/Breadcrumb.js"></script>
    <script type="text/babel" src="~/Scripts/React/Components/Header.js"></script>
    <script type="text/babel" src="~/Scripts/React/Components/Battery.js"></script>
    <script type="text/babel" src="~/Scripts/React/Components/MiniCard.js"></script>
    <script type="text/babel" src="~/Scripts/React/Devices/index.js"></script>
    <script type="text/babel" src="~/Scripts/React/Home/index.js"></script>
    <script type="text/babel" src="~/Scripts/React/Devices/pages/detail/dataAnalysis.js"></script>
    <script type="text/babel" src="~/Scripts/React/Devices/pages/detail/dataCount.js"></script>
    <script type="text/babel" src="~/Scripts/React/Devices/pages/detail/DataStatus.js"></script>
    <script type="text/babel" src="~/Scripts/React/Devices/pages/detail/index.js"></script>
    
    <script type="text/babel" src="~/Scripts/React/Client/action.js"></script>
    <script type="text/babel" src="~/Scripts/React/Client/manageApp.js"></script>
    <script type="text/babel" src="~/Scripts/React/Client/index.js"></script>
    <script type="text/babel" src="~/Scripts/React/Client/ManageDetail.js"></script>
    <script type="text/babel" src="~/Scripts/React/Client/ManageAdd.js"></script>
    <script type="text/babel" src="~/Scripts/React/Client/ManageBase.js"></script>
    <script type="text/babel" src="~/Scripts/React/Client/ManageFM.js"></script>

<script type="text/babel" src="~/Scripts/React/Staff/StaffApp.js"></script>
<script type="text/babel" src="~/Scripts/React/Staff/index.js"></script>
<script type="text/babel" src="~/Scripts/React/Staff/StaffDetail.js"></script>
<script type="text/babel" src="~/Scripts/React/Staff/StaffAdd.js"></script>
<script type="text/babel" src="~/Scripts/React/Staff/StaffBase.js"></script>


    <script type="text/babel" src="~/Scripts/React/FeedBack/index.js"></script>

    <script type="text/babel" src="~/Scripts/React/reducer.js"></script>
    <script type="text/babel" src="~/Scripts/React/app.js"></script>
}
